<p>
	Find out what the <a href="https://www.patreon.com/meshedvr">Virt-A-Mate</a> community has been creating, and share your own creations!
</p>

<h2>Highest rated</h2>
<post-gallery [posts]="highestRated" [error]="highestRatedError"></post-gallery>
<div class="text-right">
	<a class="btn btn-sm btn-primary" [routerLink]="['browse']" [queryParams]="highestRatedQuery"><i class="fa fa-play"></i> Browse more highest rated...</a>
</div>

<h2>Recently created</h2>
<post-gallery [posts]="recentlyCreated" [error]="recentlyCreatedError"></post-gallery>
<div class="text-right">
	<a class="btn btn-sm btn-primary" [routerLink]="['browse']" [queryParams]="recentlyCreatedQuery"><i class="fa fa-play"></i> Browse more recently created...</a>
</div>
