<h1>Edit Scene</h1>

<div *ngIf="post">
	<img src="{{ post.imageUrl }}" alt="Scene thumbnail" style="width: 512px;" />

	<div class="form-group">
		<label for="title">Title:</label>
		<input type="text" class="form-control" id="title" name="title" required [(ngModel)]="post.title" placeholder="Scene Title" />
	</div>

	<div class="row">
		<div class="col-md-6">
			<textarea [(ngModel)]="post.text"></textarea>
		</div>
		<div class="col-md-6">
			<markdown [(data)]="post.text"></markdown>
		</div>
	</div>

	<div class="form-group">
		<label>Tags:</label>
		<tag-input [(ngModel)]="post.tags" [identifyBy]="'id'" [displayBy]="'name'" theme="bootstrap3-info">
			<tag-input-dropdown [autocompleteObservable]="autocompleteTags" [minimumTextLength]="0" [identifyBy]="'id'" [displayBy]="'name'">
				<ng-template let-item="item" let-index="index">
					{{ item.name }}
				</ng-template>
			</tag-input-dropdown>
		</tag-input>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-default" (click)="save()">
			<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save
		</button>
		<button type="button" class="btn btn-success" (click)="publish(true)" *ngIf="!post.published">
			<i class="glyphicon glyphicon-send"></i>&nbsp;Publish
		</button>
		<button type="button" class="btn btn-danger" (click)="publish(false)" *ngIf="post.published">
			<i class="glyphicon glyphicon-eye-close"></i>&nbsp;Unpublish
		</button>
	</div>
</div>
