<div *ngIf="!posts && !error">Loading...</div>
<div *ngIf="!posts && error">Error: {{ error }}</div>

<div *ngIf="posts && !posts.length">There's nothing to see here yet!</div>

<div class="row" *ngIf="posts && posts.length">
	<div class="col-md-3" *ngFor="let post of posts">
		<div class="thumbnail">
			<a [routerLink]="['/posts', post.id]">
				<img src="{{ post.imageUrl }}" alt="{{ post.title }}" style="width:100%" />
			</a>
			<div class="caption">
				<p><b>[{{ post.votes }}] {{ post.title }}</b></p>
				<p>by {{ post.author?.username }}</p>
				<div class="tags">
					<span *ngFor="let tag of post.tags" class="badge">{{tag.name}}</span>
				</div>
			</div>
		</div>
	</div>
</div>
