<h1>Edit Scene</h1>

<div *ngIf="scene">
	<img src="{{ scene.imageUrl }}" alt="Scene thumbnail" style="width: 512px;" />

	<div class="form-group">
		<input type="text" class="form-control" id="title" name="title" required [(ngModel)]="scene.title" placeholder="Scene Title" />
	</div>

	<div class="form-group">
		<tag-input [(ngModel)]="scene.tags" [identifyBy]="'id'" [displayBy]="'name'"></tag-input>
	</div>

	<div class="form-group">
		<button type="button" class="btn btn-default" (click)="save()">
			<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Save
		</button>
		<button type="button" class="btn btn-success" (click)="publish(true)" *ngIf="!scene.published">
			<i class="glyphicon glyphicon-send"></i>&nbsp;Publish
		</button>
		<button type="button" class="btn btn-danger" (click)="publish(false)" *ngIf="scene.published">
			<i class="glyphicon glyphicon-eye-close"></i>&nbsp;Unpublish
		</button>
	</div>
</div>
