.container-fluid {
	margin-top: 4rem;
	margin-bottom: .5rem;
	max-width: 1400px;
}

.nav-container {
	max-width: 1400px;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.tags .badge {
	margin-right: 5px;
}

.scene-thumbnail {
	max-width: 512px;
	max-height: 512px;
}
