.scene-thumbnail {
	max-width: 512px;
}

.scene-thumbnail-small {
	max-width: 256px;
}

.thumbnail .caption p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.thumbnail .tags {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.tags .badge {
	margin-right: 4px;
}
