.scene-thumbnail {
	width: 512px;
}

.scene-thumbnail-small {
	width: 256px;
}

.caption p {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tags badge {
	margin-right: 4px;
}
