<div class="row">
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
		<div class="form-group mb-2">
			<label for="sort">Sort by</label>
			<select class="form-control" [(ngModel)]="query.sort" id="sort">
				<option *ngFor="let item of sortValues" [value]="item.value">{{ item.label }}</option>
			</select>
		</div>

		<div class="form-group mb-2">
			<label for="direction">Sort direction</label>
			<select class="form-control" [(ngModel)]="query.direction" id="direction">
				<option *ngFor="let item of directionValues" [value]="item.value">{{ item.label }}</option>
			</select>
		</div>

		<div class="form-group mb-2">
			<label for="since">Since</label>
			<select class="form-control" [(ngModel)]="query.since" id="since">
				<option *ngFor="let item of sinceValues" [value]="item.value">{{ item.label }}</option>
			</select>
		</div>

		<div class="form-group mb-2">
			<label>Containing tags</label>
			<tag-input [(ngModel)]="tags" [identifyBy]="'id'" [displayBy]="'name'" [onlyFromAutocomplete]="true" [placeholder]="'+'" [secondaryPlaceholder]="'Search tags'" theme="bootstrap">
				<tag-input-dropdown [autocompleteObservable]="autocompleteTags" [minimumTextLength]="0" [identifyBy]="'id'" [displayBy]="'name'">
					<ng-template let-item="item" let-index="index">
						{{ item.name }}
					</ng-template>
				</tag-input-dropdown>
			</tag-input>
		</div>

		<div class="form-group mb-2">
			<label for="since">Author</label>
			<input type="text" class="form-control" [(ngModel)]="query.author" id="author">
		</div>

		<div class="form-group mb-2">
			<label for="since">Containing text</label>
			<input type="text" class="form-control" [(ngModel)]="query.text" id="text">
		</div>

		<div class="form-group">
			<div class="form-group mb-2">
				<button type="button" class="btn btn-block btn-primary" (click)="go()" [disabled]="!posts && !error">
					<i class="fas fa-search"></i>&nbsp;Search
				</button>
			</div>
		</div>

		<hr />

		<label>Tags</label>
		<div class="tags mb-2">
			<a [routerLink]="['/browse']" [queryParams]="{tag: [tag.name]}" *ngFor="let tag of commonTags" class="badge badge-secondary" (click)="addTag(tag)">+ {{ tag.name }} ({{ tag.postsCount }})</a>
		</div>
	</nav>
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<post-gallery [posts]="posts" [error]="error"></post-gallery>
	</main>
</div>
