<div *ngIf="post">
	<div class="card mb-4">
		<div class="card-header">
			<h2>{{ post.title }} <span class="badge badge-danger" *ngIf="!post.published"><span class="fa fa-eye-slash"></span>&nbsp;Not published</span></h2>
			<i>by <a [routerLink]="['/users', post.author.username]">{{ post.author.username }}</a></i>

			<div *ngIf="ownedByCurrentUser" class="text-right">
				<b>You created this post.</b>&nbsp;
				<a [routerLink]="['/posts', post.id, 'edit']" class="btn btn-sm btn-secondary">
					<i class="fab fa-pencil"></i>&nbsp;Edit
				</a>
			</div>
		</div>
		<div class="card-body">
			<div class="mx-auto text-center">
				<img class="card-img-top scene-thumbnail" *ngIf="post.scenes && post.scenes.length == 1" src="{{ post.thumbnailUrl }}" />
			</div>

			<div *ngIf="post.scenes && post.scenes.length > 1" class="row">
				<div class="col-md-3" *ngFor="let scene of post.scenes">
					<div class="card">
						<img class="card-img-top scene-thumbnail" src="{{ scene.thumbnailUrl }}" alt="{{ scene.name }}" />
					</div>
				</div>
			</div>

			<hr />

			<div class="row">
				<div class="col-md-4">
					<div class="btn-group">
						<button type="button" class="btn" [ngClass]="{ 'btn-secondary': !vote, 'btn-danger': vote && vote.value !== -1, 'btn-danger': vote && vote.value === -1 }" (click)="changeVote(-1)" [disabled]="!vote || voting" *ngIf="loggedInUsername">
							<i class="fa fa-thumbs-down"></i>
						</button>
						<button type="button" class="btn" [ngClass]="{ 'btn-secondary': !vote, 'btn-success': vote && vote.value !== 1, 'btn-success': vote && vote.value === 1 }" (click)="changeVote(1)" [disabled]="!vote || voting" *ngIf="loggedInUsername">
							<i class="fa fa-thumbs-up"></i>
						</button>
						<button class="btn btn-secondary disabled">Score: {{ post.votes }}</button>
					</div>
				</div>
				<div class="col-md-8 tags text-right">
					<a *ngFor="let tag of post.tags" class="badge badge-secondary" [routerLink]="['/browse']" [queryParams]="{ tags: [tag.name] }">{{ tag.name }} ({{ tag.postsCount }})</a>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-4" *ngIf="post.text">
		<div class="card-body pb-1">
			<markdown [data]="post.text"></markdown>
		</div>
	</div>

	<div class="card mb-4">
		<div class="card-header">
			<a class="btn btn-primary" href="/api/download/posts/{{ post.id }}" target="_blank">
				<i class="fab fa-download-alt"></i>&nbsp;Download as .zip
			</a>
		</div>
		<div class="card-body pb-1">
			<ul>
				<li *ngFor="let file of post.files">{{file.filename}}</li>
			</ul>
		</div>
	</div>
</div>
